.App {
  text-align: center;

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  fill:#61DAFB;
  margin-bottom: 5vmin;
  margin-left: 14px;
}

.App-header {
  /* background-color: rgba(255,255,255, 1); */
  background-color: rgba(39,44,53, 0.5);
  backdrop-filter: blur(10px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
